.filters {
    display: block;
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
   background-color: #ff5a5f;
   color: #fff;
   font-size: 18px;
   height: 48px;
   width: 20%;
   border-style: none;
   border-radius: 4px;
   float: right;
   margin-block: 11px;
   margin-right: 30px;
}
button:hover {
    opacity: .9;
}

.filters>.amenities, .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    float: left;
    line-height: 20px;
    position: relative;
}

.locations {
    border-right: 1px solid #DDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.locations:hover>.popover, .amenities:hover>.popover {
    display: block;
    transition: all 500ms ease-out;
}

.popover {
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: -1px;
    padding-top: 25px;
    position: absolute;
    top: 80%;
    display: none;
    backdrop-filter: blur(10px);
}

.popover h2 {
    font-size: 16px;
}


/***********SMALL SCREENS********/

@media screen and (max-width: 768px) {
    button {
        font-size: 18px;
        height: 40px;
    }    
}

@media screen and (max-width: 375px) {
    button {
        display: none;
    }

    .filters {
        width: 98%;
        border-radius: 0;
        margin: 0 auto;
    }

    .filters:after {
        content: url(../images/search.png);
        float: right;
        margin-top: 22px;
        margin-right: 10px;
    }

    .filters>.amenities, .locations {
        padding-inline: 5px;
    }

    .locations h4, .filters>.amenities h4 {
        font-size: 13px;
    }

    .popover h4 {
        font-size: 14px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .locations h4, .filters>.amenities h4 {
        font-size: 12px;
    }
}