body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-block: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    margin-block: 30px;
}