.filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

button {
    position: absolute;
    right: 30px;
    top: 11px;
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
button:hover {
    opacity: .9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 30px;
}

.locations {
    border-right: 1px solid #ddd;
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}
